#hero {
  height: 800px;
  background-image: url("/images/places/ocean.jpg");
  /* adding background with css */
  background-position: center;
  /* center's image but style very zoom */
  background-size: cover;
  /* adapts image to the size */
}

#hero {
  height: 800px;
  background-image: url("/images/places/ocean.jpg");
  /* adding background with css */
  background-position: center;
  /* center's image but style very zoom */
  background-size: cover;
  /* adapts image to the size */
  position: relative;
  z-index: -1;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  /* last value controls opacity */
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  /* thhis center the div */
  position: relative;
  /* This allow us to the moce the element with direction top bottom right left */
  top: 200px;
  /* it applies as I put position relative */
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "railway", sans-serif;
  margin: 0;

}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;

}

#hero-content a {
  text-decoration: none;
  color: black;
  background-color: yellow;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(211, 208, 35);
}

#highlights {
  padding: 24px;
  /* This solves a "marging colapsing problem" */
  background: linear-gradient(0deg, rgb(227,255,253),rgb(202,243,240));
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(32, 29, 29);
  margin: 24px 0;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  justify-content: center;
  /* This fixed all problme with flex not taking the 100% width */
}

.destination p {
  text-align: center;
  font-size: 24px;
  color: rgb(56, 56, 51);
  margin: 20px 0;
}

.destination {
  margin: 0 20px;

}

.destination img {
  height: 200px;
  width: 100%;
  /* This is a porblem as it not following the command !!!!!!!!!!!!!!! */
  box-shadow: 2px 4px 8px rgb(68, 68, 67);
  border-radius: 10px;
  object-fit: cover;
  /* important to mantain quality and aspect reatio */
}

.destination strong {
  color: rgb(32, 174, 150);
}

footer {
  margin: 0;
  background: linear-gradient(0deg, rgb(6, 6, 6),rgb(50, 52, 52));
padding: 10px;
}

footer ul {
  display: flex;
  justify-content: center;

  
  
}
.icon {
height:50px;
width:50px;
padding: 0px 40px;

}